<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-6 order-2 order-lg-1">
            <div class="timeline-bg-content bg-img" data-bg="assets/images/timeline/adda-timeline.jpg">
                <h3 class="timeline-bg-title">Let’s see what’s happening to you and your world.
                    Welcome in Adda.</h3>
            </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="signup-form-wrapper">
                <h1 class="create-acc text-center">Create An Account</h1>
                <div class="signup-inner text-center">
                    <h3 class="title">Welcome</h3>

                    {{#if error}}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{error}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {{/if}}

                    {{#if success}}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{success}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {{/if}}

                    <form class="signup-inner--form" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="single-field" placeholder="Name" name="name" required {{#if
                                    error}}value="{{data.name}}" {{/if}}>
                            </div>
                            <div class="col-12">
                                <input type="email" class="single-field" placeholder="Email" name="email" required {{#if
                                    error}}value="{{data.email}}" {{/if}}>
                            </div>
                            <div class="col-12">
                                <input type="password" class="single-field" placeholder="Password" name="password" required>
                            </div>
                            <div class="col-12">
                                <input type="text" class="single-field" placeholder="Phone" name="phone" required {{#if
                                    error}}value="{{data.phone}}" {{/if}}>
                            </div>
                            <div class="col-12">
                                <input type="date" class="single-field" placeholder="Date of Birth" name="dob" required {{#if
                                    error}}value="{{data.dob}}" {{/if}}>
                            </div>
                            <div class="col-12">
                                <select class="nice-select" id="gender" name="gender" placeholder="Gender" required>
                                    <option value="" disabled selected>Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="others">Others</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="submit-btn">Create Account</button>
                            </div>
                        </div>
                        {{!-- <h6 class="terms-condition">I have read & accepted the <a href="#">terms
                                of use</a></h6> --}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>